.places {
  font-size: 30px;
  height: fit-content;
}

article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  margin: 1rem 0;
}

.top {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bottom {
  flex-direction: column;
}
.top,
.bottom {
  display: flex;
}

.information {
  display: flex;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
}

.information div {
  font-size: medium;
}

.price_by_night {
  color: #ff5a5f;
  border: 1px solid #ff5a5f;
  border-radius: 100%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bottom div {
  font-size: medium;
}

.user {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.amenities {
  margin: 1rem 0;
}
.amenities h2 {
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}


.amenities li {
  margin: 10px 0;
  display: flex;
}

.amenities li p {
  margin-left: 10px;
  font-size: 14px;
}

.reviews {
  margin: 1rem 0;
}

.reviews h2 {
  margin: 1rem 0;
  padding-bottom: 0.5rem;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
}

.reviews h3 {
  font-size: 14px;
  padding-bottom: 0.5rem;
}

.reviews p {
  font-size: 14px;
}